* {
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "Conteudo1 Conteudo2 Conteudo3";
}

#Conteudo1 {
    width: 90%;
    padding-top: 10%;
}

#Conteudo2 {
    width: 90%;
    padding-top: 10%;
}

#Conteudo3 {
    width: 90%;
    padding-top: 10%;
}

#Conteudo3 {
    width: 90%;
    padding-top: 10%;
}